{% extends "layout.html" %}
{% block title %}
nginx访问日志
{% endblock %}
{% block body %}
<body>
<table id='body' class="table table-striped table-bordered">
<tr>
    <td>序号</td>
    <td>IP</td>
    <td>web状态码</td>
    <td>访问次数</td>
</tr>
{% for log in logs %}
<tr>
    <td>{{log[0]}}</td>
    <td>{{log[1]}}</td>
    <td>{{log[2]}}</td>
    <td>{{log[3]}}</td>
</tr>
{% endfor %}
</table>
<nav>
  <ul class="pager">
    {% if page>0 %}
    <li><a href="/log?page={{page-1}}">上一页</a></li>
    {% else %}
    <li class='disabled'><a>上一页</a></li>
    {% endif %}
    <li>{{page+1}}</li>
    <li><a href="/log?page={{page+1}}">下一页</a></li>
  </ul>
</nav>

{% block js %}
<script>

//$('.lognav').ready(function(){
//  $('.lognav').addClass('active')
//})
//$('.nav1').find('.lognav').addClass('active')
</script>
{% endblock %}

</body>
{% endblock %}
