<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    {% if status == "init_db" %}
        <form action="/init_db" method="post">
            <table>
                <tr>
                    <td>数据库IP:</td>
                    <td>
                        <input type="text" name="ip">
                    </td>
                </tr>
                <tr>
                    <td>端口:</td>
                    <td>
                        <input type="text" name="port" value="3306">
                    </td>
                </tr>
                <tr>
                    <td>数据库用户名:</td>
                    <td>
                        <input type="text" name="dbuser">
                    </td>
                </tr>
                <tr>
                    <td>密码:</td>
                    <td>
                        <input type="text" name="dbpwd">
                    </td>
                </tr>
                <tr>
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td>系统登录用户名:</td>
                    <td>admin</td>
                </tr>
                <tr>
                    <td>密码:</td>
                    <td>
                        <input type="text" name="u_pwd">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" value="初始化">
                    </td>
                </tr>
            </table>
            <!--<h3><a href="/init_db">初始化数据</a></h3>-->

            <!--<h5>默认用户名: admin, 密码: admin</h5>-->
        </form>
    {% else %}
        {% if session.get("user") != None %}
            <h3>当前用户:{{session.get("user")}}</h3>
            <table>
                <tr>
                    <td><a href="/show">显示日志</a></td>
                </tr>
                {% if session.get("user") == "admin" %}
                    <tr>
                        <td><a href="/user_mgr">管理用户</a></td>
                    </tr>
                {% endif %}

                {% if session.get("user") != None %}
                    <tr>
                        <td><a href="/logout">退出</a></td>
                    </tr>
                {% endif %}
            </table>
    {% endif %}

    <hr/>

    {% if session.get("user") == None %}
    <h1>登录</h1>
        <form action="/login" method="post">
            <table>
                <tr>
                    <td>用户名</td>
                    <td><input type="text" name="username"></td>
                </tr>
                <tr>
                    <td>密&nbsp码</td>
                    <td><input type="text" name="pwd"></td>
                </tr>
                <tr>
                    <td><input type="submit" value="登录"></td>
                </tr>

            </table>
        </form>
    <hr/>

    <!--<h1>注册</h1>-->
            <!--<form action="/register" method="post">-->
                <!--<table>-->
                    <!--<tr>-->
                        <!--<td>用户名</td>-->
                        <!--<td><input type="text" name="username"></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td>密&nbsp码</td>-->
                        <!--<td><input type="text" name="pwd"></td>-->
                    <!--</tr>-->
                    <!--<tr>-->
                        <!--<td><input type="submit" value="注册"></td>-->
                    <!--</tr>-->
                <!--</table>-->
            <!--</form>-->
        {% endif %}
    {% endif %}
</body>
</html>