<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table width="500px" border="1" style="border-collapse:collapse">
        <tr>
            <td>IP</td>
            <td>状态</td>
            <td>排名</td>
        </tr>
        <tr>
            <td colspan="3"><hr></td>
        </tr>
    {% for i in log%}
        <tr>
            <td>{{i[1]}}</td>
            <td>{{i[2]}}</td>
            <td>{{i[3]}}</td>
        </tr>
    {% endfor %}
    </table>
    <a href="/show?page={{page}}&last=1">上一页</a>
    {{page+1}}/{{total_page}}
    <a href="/show?page={{page}}&next=1">下一页</a>
    <form action="/show">
        <input type="text" name="page_go">
        <input type="submit" value="跳转">
    </form>
    <br><br>
    <a href="/index">返回主页</a>
</body>
</html>