

<table border=1>
<tr>
<td>ID</td>
<td>IP</td>
<td>status</td>
<td>count</td>
</tr>
{% for line in datalist %}
<tr>
<td>{{line[0]}}</td>
<td>{{line[1]}}</td>
<td>{{line[2]}}</td>
<td>{{line[3]}}</td>
</tr>
{% endfor %}
</table>

<p>Page {{page}}</p>

<form action='/change' method='post'>
<input type='hidden' name='oper' value='plus'>
<input type='submit' value='next'>
</form>

<form action='/change' method='post'>
<input type='hidden' name='oper' value='delete'>
<input type='submit' value='before'>
</form>

<form action='/change' method='post'>
<input type='hidden' name='oper' value='turnto'>
<input type='text' name='page'>
<input type='submit' value='Turn_to_page'>
</form>

<a href='/logout'>
logout
</a>

<a href='/usermanage'>
usermanage
</a>