<body background="./static/reboot.jpg">
<form action='show'>
<input type='submit' value='HOME_PAGE'>
</form>
<br>
<form action='user_add' method='post'>
name:<input type='text' name='user'>
password:<input type='password' name='passwd'>
<input type='submit' value='ADD'>
</form>

<link href="./static/bootstrap.min.css" rel="stylesheet">
<table class="table table-striped">
<tr>
	<td>NO</td>
        <td>USER</td>
        <td>PASSWORD</td>
        <td>MODIFY</td>
        <td>DELETE</td>
</tr>
{% for user in res_lst %}
<tr>
        <td>{{loop.index}}</td>
        <td>{{user[1]}}</td>
        <td>{{user[2]}}</td>
        <td>
	<form action='user_mod' method='post'>
	<input type='hidden' name='id_num' value={{user[0]}}>
	<input type='text' name='passwd'>
	<input type='submit' value='COMMIT'>
	</form>
        </td>
        <td>
	<form action='user_del' method='post'>
	<input type='hidden' name='id_num' value={{user[0]}}>
	<input type='submit' value='COMMIT'>
	</form>
	</td>
</tr>
{% endfor %}
</table>
</body>
