{% extends "layout_page.html" %}


            <!-- {% block curr_user %}
            <li><a>{{session.get('user',None)}}</a></li>
            {% endblock %} -->

{% block data_info %}
 <h2 class="sub-header animated bounceInLeft">日志统计列表</h2>
          <div class="table-responsive">
            <table class="table table-bordered table-striped animated bounceInUp">
              <thead>
                <tr>
                  <th>NO</th>
                  <th>IP</th>
                  <th>Status</th>
                  <th>Count</th>
                </tr>
              </thead>
              <tbody>
                {% for log in logs %}
                <tr>
                  <td>{{log[0]}}</td>
                  <td>{{log[1]}}</td>
                  <td>{{log[2]}}</td>
                  <td>{{log[3]}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>

<nav>
  <ul class="pager">
  {% if page>1  %}
    <li>
      <a href="/log_page?page={{page-1}}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% else %}
    <li class="disabled">
      <a aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    {% endif %}
    {% for pag in page_list %}
    
    <li><a href="/log_page?page={{pag+1}}">{{pag+1}}</a></li>
    {% endfor %}
    
    {% if page<all_pages %}
    <li>
      <a href="/log_page?page={{page+1}}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% else %}
    <li class="disabled">
      <a aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
    {% endif %}
  </ul>
</nav>
	  
          </div> 

{% endblock %}