<link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

<table class="table table-striped"> <tr><td>
<form action='/useradd' method='post'>
name:<input type='text' name='name'>
password: <input type='password' name='password'>
<input type=submit value='添加'>
<input type=reset value='重置'>
</form>
</td>
<td>
    <input type="button" name="logout" value="退出" onclick="location='/logout'">
</td>
</tr></table>

<form action="/userdel" method="post">
<table class="table table-striped">
    <tr><td></td><td>用户名</td><td>密码</td><td>修改</td></tr>
{%
    for i in user_list
    %}
<tr>
    <td><input type="radio" name="name" value="{{i[0]}}"></td>
    <td>{{i[0]}}</td>
    <td>{{i[1]}}</td>
    <td><input type=button value='修改密码' onclick="location='useredit?user={{i[0]}}'"></td>
</tr>
{%
    endfor
    %}
<tr><td colspan="4" align="center"><input type="submit" value="删除"> <input type="reset" value="重置"></td></tr>
</table>
</form>