<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        label{
            text-align: left;
            display: inline-block;
        }
        input{
            border-radius: 5px;
            outline:none;
            border: none;
            height: 30px;
            width: 200px;
            border: 1px solid #cccccc;
        }
        input[type=submit]{
            background: red;
            color: #FFFFFF;

        }
    </style>
</head>
<script>
    {% if status==0 %}
        alert("Add user success!")
        window.location.href="/index"
    {% endif %}
    {% if status==1 %}
        alert("Add user failed! users file not found")
    {% endif %}
    {% if status==2 %}
        alert("Username if already exist!")
    {% endif %}
    {% if status==3 %}
        alert("You need input name or password!")
    {% endif %}
</script>
<body>
    <h1>注册</h1>
    <form action="/add_user_action" method="post">
        <table>
            <tr>
                <td>
                    <label>用户名:</label><input type="text" name="name">
                </td>
            </tr>
            <tr>
                <td>
                    <label>密&nbsp;码:</label><input type="password" name="pwd">
                </td>
            </tr>

            <tr>
                <td>
                    <input type="submit" value="submit">
                </td>
            </tr>
        </table>
    </form>
    <!--{% if status==0 %}-->
        <!--<a href=""></a>-->
    <!--{% else %}-->
        <!--<a></a>-->
    <!--{% endif %}-->
</body>
</html>