<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        a{
            display: block;
            width: 100px;
            background: #3a8dff;
            color: #FFFFFF;
            margin: 10px auto;
            height: 35px;
            text-align: center;
            line-height: 35px;
            text-decoration: none;

        }
    </style>
</head>
<body>
    {% if name %}
    <h1 href="#">当前用户:{{name[0]}}</h1>
    {% endif %}
    <a href="/login">登录</a>
    <a href="/add_user">注册</a>
    <a href="/show_users">显示用户列表</a>
    <a href="/logout">退出登录</a>
</body>
</html>
