<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
<div class="container">
{% extends "layout.html" %}
{% block title %}
    用户信息
{% endblock %}
{% block list%}
            <li ><a href="/data">日志</a></li>
            <li ><a href="/userlist">用户</a></li>
            <li ><a href="/mes_data">资产管理</a></li>
{%endblock%}
{% block body %}
<!-- Large modal -->
<button id='addModalBtn' type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#adduserModal">
    添加用户
</button>
<table class='table table-bordered table-striped'>
    <tr colspan="2" style="background-color:#99bbbb;"> 
                <td>编号</td>
                <td>用户名</td>
                <td>密码</td>
                <td>操作</td>
   </tr>
<tbody id='tbody-content'></tbody>
</table>
</div>

{%endblock%}

{%block haha%}

<!-- Modal -->
<div class="modal fade" id="adduserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">添加用户</h4>
      </div>
      <div class="modal-body">
        
<form action='/adduser' id='addform' method='post'>
User:<input type='text' name='user'>
Password:<input type='password' name='pwd'>
<!-- <input type='submit' id='addsubmit' value='adduser'> -->
</form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary">添加</button>
      </div>
    </div>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="updateuserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">编辑用户</h4>
      </div>
      <div class="modal-body">
        
<form action='/updateuser' id='updateform' method='post'>
password:<input type='text' name='pwd'>
<!-- <input type='submit' id='addsubmit' value='adduser'> -->
</form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary">编辑</button>
      </div>
    </div>
  </div>
</div>

{%endblock%}


{% block js %}
    <script src="/static/jquery.js"></script>
    <script src="/static/bootstrap.js"></script>
    <script src="/static/sweetalert.min.js"></script>
<script>

$(document).on('click','.delete-btn',function(){
    var id = $(this).attr('data-id')
  swal({ 
      title: "Are you sure to delete user?",
      //text: "Are you delete",
      type: "warning",
      showCancelButton: true,
      confirmButtonText: "Yes",
      closeOnConfirm: false,
      html: false
    }, function(){   

           // $.get('/deluser?id='+id,function(res){
            $.post('/deluser',{id:id},function(res){
                if (res=='ok'){
                    swal("Deleted!", "Your imaginary file has been deleted.", "success");
                    getlist()
            }else{
                swal("Cancelled", "Your imaginary file is safe.", "error");
        }       
        })
       }) 
    })

    $('#adduserModal').find('.btn-primary').on('click',function(){
        var url = '/adduser?'+$('#addform').serialize()
        $.get(url,function(res){
            if (res=='ok'){
                $('#adduserModal').modal('hide')
                swal('success','add success!','success')
                $('#addform')[0].reset()
                getlist()
            }else{
                swal('error','error happend','error')  
            }
        })
        return false
    })

$('#updateuserModal').find('.btn-primary').on('click',function(){
  var userid = $('#updateuserModal').attr('data-userid')
  var pwd = $('#updateform').find('[name="pwd"]').val()
 // $.get('/updateuser?id='+userid+'&pwd='+pwd,function(res){
  $.post('/updateuser',{id:userid,pwd:pwd},function(res){
        if(res=='ok'){

            $('#updateuserModal').modal('hide')
            swal('success','Update success!','success')

            getlist()
        }else{

            swal('error','error happened','error')
        }
  })
})


 $(document).on('click','.update1-btn',function(){
        var pwd = $(this).data('pwd')  
        var userid = $(this).data('id')
        $('#updateuserModal').attr('data-userid',userid).modal('show')
        $('#updateform').find('[name="pwd"]').val(pwd)
    })


 function getlist(){
    var res = ''
    $.getJSON('/gettable',function(res){
        $.each(res,function(index,value){
        res+= '<tr><td>'+(index+1)+'</td>'
        res+= '<td>'+value[1]+'</td>'
        res+= '<td>'+value[2]+'</td>'
        res+= '<td><button data-id="'+value[0]+'" class="btn btn-danger btn-xs delete-btn">删除</button> ' 
        res+= '<button data-pwd="'+value[2]+'" data-id="'+value[0]+'" class="btn btn-danger btn-xs update1-btn">更新</button></td></tr>'
    })
        $('#tbody-content').html(res)
    })
    }
    getlist()

</script>
{% endblock %}
