
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"></meta>
<link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

<div class="container">
	<h3>用户信息</h3>
		<table class='table table-bordered table-striped'>
			<tr colspan="2" style="background-color:#99bbbb;">
				<td>用户名</td>
				<td>密码</td>
				<td>更新密码</td>
				<td>删除用户</td>
			</tr>
 
{% for user in userlist %} 
<tr> 
<!-- 	<td><input type='radio' name='id' value={{user[0]}}></td> -->
        <td>{{user[1]}}</td> 
        <td>{{user[2]}}</td> 
        <td><form action='/edit' method='post'>
        	<input type='hidden' name='id' value='{{user[0]}}'>
        	<input type='text' name='passwd'>
        	<input type='submit' value='update'>
        	</form>
        </td>
        <td><form action='/delete' method='post'>
        	<input type='hidden' name='id' value="{{user[0]}}">
        	<input type='submit' value='delete'>
        	</form>
        </td>
</tr> 
{% endfor %} 
</table>

<a href='/logout'>退出</a>

</div>

