
{% extends 'layout.html' %}
{% block body %}

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Web Project</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">设置</a></li>
            <li><a href="#">概要</a></li>
            <li><a href="/logout">退出</a></li>
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="搜索">
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">报表<span class="sr-only">(current)</span></a></li>
            <li><a href="#">分析</a></li>
            <li><a href="#">导出</a></li>
          </ul>
        </div>

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <div class="row">
        <div class="col-md-4"><h3>数据信息</h3></div>
        </div>
                <div class="table-responsive">
                  <table class="table talbe-bordered table-striped">
                    <thead>
                      <tr>
                        <td>NUM</td>
                        <td>IP</td>
                        <td>STATUS</td>
                        <td>COUNT</td>
                      </tr>
                   </thead>
                  <tbody>
                  {% for user in ip_list %} 
                   <tr> 
                        <td>{{user[0]}}</td>
                        <td>{{user[1]}}</td> 
                        <td>{{user[2]}}</td> 
                        <td>{{user[3]}}</td>
                   </tr> 
                  {% endfor %} 
                  </tbody>
                 </table>
                </div>
            <ul class="pagination">
                {% if page > 0 %}
                <li><a href="/ip_list?page={{page-1}}">&laquo;</a></li>
                {% else %}
                <li><a href="#">&laquo;</a></li>
                {% endif %}
        	<li><a href="#">{{page+1}}</a></li>
        	<li><a href="/ip_list?page={{page+1}}">&raquo;</a></li>
           </ul>

        </div>
     </div>
{% endblock %}

