<table border='1'>
    <td>
        <b>用户名</b>
    </td>
    <td>
        <b>密码</b>
    </td>
{% for user in userlist %}
<tr>
    <td>{{user[0]}}</td>
    <td>{{user[1]}}</td>
</tr>
{% endfor %}
</table>
<hr />
<font color="red">
<h3>删除用户</h3>
</font>
<form action='deluser' method='post'>
    用户名：<input type='text' name='user'>
    <input type='submit' value='deluser'>
</form>
<hr />
<div style="color:green">
<h3>添加用户</h3>
</div>
<form action='adduser' method='post'>
    用户名:<input type='text' name='user'>
    密码:<input type='password' name='passwd'>
    <input type='submit' value='adduser'>
</form>
<a href='/'>
返回上一页
</a>
<br />
<a href='/logout'>
登出
</a>
