{% if user == 'admin' %}
<h1>
you are admin!
</h1>
{% endif %}



<form action='adduser' method='post'>
<input type='text' name='user'>
<input type='password' name='password'>
<input type='submit' value='adduser'>
</form>
<form action='deleteuser' method='post'>
<input type='text' name='user'>
<input type='submit' value='deleteuser'>
</form>

<table border='1'>
{% for user in res_lst %}
        <tr>
        <td>{{user[0]}}</td>
        <td>{{user[1]}}</td>
        </tr>
{% endfor %}
</table>

<a href='/logout'>

logout

</a>
