{% extends 'layout.html'%}

{% block title %}
<h3>主机管理</h3>
{% endblock %}

{% block body %}
<button id='addModalBtn' type="button" class="btn btn-primary " data-toggle="modal" data-target="#addhostmyModal">
 添加主机
</button>  
        <div class="table-responsive">
		  <table class='table table-bordered table-striped'>
		    <tr colspan="2" style="background-color:#99bbbb;">
		    	<td>ID</td>
				<td>主机名</td>
				<td>内存(G)</td>			
				<td>过期时间</td>
				<td>管理员邮箱</td>
				<td>修改</td>
				<td>更新</td>
			</tr>
 			<tbody id='tbody-content'>
			</tbody>
          </table>
        </div>
{% endblock %}

{% block endbody %}
 <!-- addhostModal -->
<div class="modal fade" id="addhostmyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">添加主机</h4>
        </div>
        <div class="modal-body">
          <form action='/host' id='addhost'>
      		    <div>
 			    <h4>主机名称<input  type="text" name="host1" class="form-control"></h4>
 			    </div>
		      	<div>
		      	<div id="slider-range-max"></div>
		        <h5>
		        <label for="amount">当前内存大小(G)</label>
		        <input type="text" name="host2" id="amount" style="border: 0;color: #f6931f;font-weight: bold;">
		        </h5>
		        </div>
		        <div>
		      	<h4>过期时间<input type="text" name="host3" id="datepicker" class="form-control"></h4>
		        </div>

		        <div>
		        <h4> 管理员邮箱<input  type="text" name="host4" class="form-control"></h4>
		        </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary" >添加主机</button> 
       </div>
     </div> 
  </div>
</div>



<!-- updathostModal -->
<div class="modal fade" id="updatehostmyModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">更新主机</h4>
        </div>
      		<div class="modal-body">
	       		<form action='/updatehost' id='updatehost'>	          
					<div>
		 			<h4>主机名称<input  type="text" name="h1" class="form-control"></h4>
		 			</div>

			      	<div>
			      	<div id="slider-range-max-update"></div>
			        <h5>
			        <label for="amount-update">当前内存大小(G)</label>
			        <input type="text" name="h2" id="amount-update" style="border: 0;color: #f6931f;font-weight: bold;">
			        </h5>
			        </div>

			        <div>
			      	<h4>过期时间<input type="text" name="h3" id="datepicker-update" class="form-control"></h4>
			        </div>

				    <div>
				    <h4> 管理员邮箱<input  type="text" name="h4" class="form-control"></h4>
				    </div>
	        	</form>
	        </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" class="btn btn-primary" >更新主机</button> 
          </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}




{% block js %}
<script>

$('#updatehostmyModal').find('.btn-primary').on('click',function(){
	var hostid = $('#updatehostmyModal').attr('data-hostid')
	var h1 = $('#updatehost').find('[name="h1"]').val()
	var h2 = $('#updatehost').find('[name="h2"]').val()
	var h3 = $('#updatehost').find('[name="h3"]').val()
	var h4 = $('#updatehost').find('[name="h4"]').val()
	$.get('/updatehost?id='+hostid+'&h1='+h1+'&h2='+h2+'&h3='+h3+'&h4='+h4,function(res){
		if (res=='ok'){
			$('#updatehostmyModal').modal('hide')
        	swal('success','update success','success')
            hostlist()
        }else{
            swal("Here's a message!",'please input!', "error")
		}
	})	
})

$(document).on('click','.update-btn',function(){
	var hostid = $(this).data('id')
	$('#updatehostmyModal').attr('data-hostid',hostid).modal('show')
})

$(function(){
	$("#slider-range-max-update").slider({
		range:"max",
		max:32,
		min:2,
		value:2,
		slide:function( event,ui){
			$("#amount-update").val(ui.value);
		}
	});
	$("#amount-update").val($("#slider-range-max-update").slider("value"));
});

$(function(){
	$("#datepicker-update").datepicker({
		dateFormat:"yy-mm-dd"
	});
});

$(function(){
	$("#slider-range-max").slider({
		range:"max",
		max:32,
		min:2,
		value:2,
		slide:function( event,ui){
			$("#amount").val(ui.value);
		}
	});
	$("#amount").val($("#slider-range-max").slider("value"));
});

$(function(){
	$("#datepicker").datepicker({
		dateFormat:"yy-mm-dd"
	});
});

$("#addhostmyModal").find('.btn-primary').on('click',function(){
	var host1 = $('#addhost').find('[name="host1"]').val()
	var host2 = $('#addhost').find('[name="host2"]').val()
	var host3 = $('#addhost').find('[name="host3"]').val()
	var host4 = $('#addhost').find('[name="host4"]').val()
	$.get('/addhost?host1='+host1+'&host2='+host2+'&host3='+host3+'&host4='+host4,function(res){
		if(res=='ok'){
        	$('#addhostmyModal').modal('hide')
        	swal('success','add success','success')
            $('#addhost')[0].reset()
            hostlist()
        }else{
            swal("Here's a message!",'please input string!', "error")
        }
	})
	return false
})

$(document).on('click','.delete-btn',function(){
   var id = $(this).attr('data-id')
   swal({
  title: "Are you sure?",
  text: "You will not be able to recover this imaginary file!",
  type: "warning",
  showCancelButton: true,
  confirmButtonColor: "#DD6B55",
  confirmButtonText: "Yes, delete it!",
  closeOnConfirm: false,
  html: false
}, function(){
        $.get('/deletehost?id='+id,function(res){
            if(res=='ok'){
                swal("success",'delete success', "success")
                hostlist()
            }
        })
    
    })
})

function hostlist(){
var hostlist = ''
$.getJSON('/hostlist',function(hostlist){
    $.each(hostlist,function(index,value){
    hostlist+='<tr><td>'+value[0]+'</td>'
    hostlist+='<td>'+value[1]+'</td>'
    hostlist+='<td>'+value[2]+'</td>'
    hostlist+='<td>'+value[3]+'</td>'
    hostlist+='<td>'+value[4]+'</td>'
    hostlist+='<td><button data-id="'+value[0]+'" class="btn btn-danger btn-xs delete-btn">delete</button></td>'
    hostlist+='<td><button data-pwd="'+value[2]+'" data-id="'+value[0]+'" class="btn btn-danger btn-xs update-btn">update</button></td></tr>'
    })
    $('#tbody-content').html(hostlist)
})
}
hostlist()

</script>
{% endblock %}













