{% extends 'base.html' %}

        {% block content_top %}
        {% if is_admin %}
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-12 placeholder">
              <form class="form-inline" action="/statistics" method="post">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon">重新统计排名前</div>
                        <input type="text" class="form-control" name="top_num" placeholder="100">
                        <div class="input-group-addon">次记录</div>
                    </div>
                </div>
                    <button type="submit" class="btn btn-primary">统计</button>
                </form>
            </div>
          </div>
            {% endif %}
          {% endblock %}
          
          {% block content %}
          
          <h2 class="sub-header">日志统计<!-- <button id="showtable" class="btn btn-success">showtable</button> --></h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>NO.</th>
                  <th>IP</th>
                  <th>STATUS</th>
                  <th>COUNT</th>
                </tr>
              </thead>
              <tbody id="showlog">
              </tbody>
            </table>
          </div>
          
          <script type="text/javascript" src="/static/jquery-1.11.3.js"></script>
          <script type="text/javascript">
          function showlogdata(){
            var result = ''
            $.getJSON('/showtable',function(res){
                console.log(res)
                $.each(res,function(index,value){
                  seq = index+1
                    result += '<tr><td>'+seq+'</td><td>'+value['ip']+'</td><td>'+value['status']+'</td><td>'+value['access_num']+'</td></tr>'
                })
                console.log(result)
                $('#showlog').html(result)
            })
          }
          showlogdata()
          </script>
          {% endblock %}
