		<div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="/index">日志统计 </a></li>
            {% if is_admin %}
            <li><a href="/userlist1">用户管理</a></li>
            <li><a href="/serverlist">服务器管理</a></li>
            {% endif %}
          </ul>
        </div>
        <script type="text/javascript">
            var pathname = location.pathname
            $.each($('.sidebar').find('a'),function(i,v){
                if($(v).attr('href')==pathname){
                    $(v).parent().addClass('active')
                }
            })
        </script>