{% extends 'base.html' %}

		{% block content_top %}
		{% if is_admin %}
		  <div class="row placeholders">
            <div class="col-xs-6 col-sm-12 placeholder">
              <form class="form-inline" action="/statistics" method="post">
              	<div class="form-group">
					<div class="input-group">
						<div class="input-group-addon">重新统计排名前</div>
						<input type="text" class="form-control" name="top_num" placeholder="100">
						<div class="input-group-addon">次记录</div>
					</div>
				</div>
					<button type="submit" class="btn btn-primary">统计</button>
				</form>
            </div>
          </div>
			{% endif %}
          {% endblock %}
          
          {% block content %}
          <button id="showmsg" class="btn btn-success">showmsg</button>
          <div class="alert alert-warning" id="msg"></div>
          <h2 class="sub-header">日志统计</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>NO.</th>
                  <th>IP</th>
                  <th>STATUS</th>
                  <th>COUNT</th>
                </tr>
              </thead>
              <tbody>
              	{% for row in accesslist %}
                <tr>
                  <td>{{loop.index+(page_int-1)*page_size}}</td>
                  <td>{{row['ip']}}</td>
                  <td>{{row['status']}}</td>
                  <td>{{row['access_num']}}</td>
                </tr>
                {% endfor %}
                <tr class="info">
					<td colspan="4"></td>
				</tr>
				<tr>
					<td colspan="3" align="center">
						<nav>
						  <ul class="pager">第{{page_int}}页/共{{page_num}}页
						{% if page_int != 1 %}
						<li><a href="/?page_int=1">第一页</a></li>
						<li><a href="/?page_int={{page_int-1}}">上一页</a></li>
						{% endif %}
						{% if page_int != page_num %}
						<li><a href="/?page_int={{page_int+1}}">下一页</a></li>
						<li><a href="/?page_int={{page_num}}">最后一页</a></li>
						{% endif %}
						</ul>
						</nav>
					</td>
					<td>
						<nav>
						  <ul class="pager">
						  	<li>
						<form class="form-inline" action="/changepagesize" method="post">
							<div class="form-group">
								<div class="input-group">
									<div class="input-group-addon">每页显示</div>
										<select class="form-control" name="page_size">
								<option value="5" {% if page_size==5 %} selected {% endif %}>5</option>
								<option value="10" {% if page_size==10 %} selected {% endif %}>10</option>
								<option value="20" {% if page_size==20 %} selected {% endif %}>20</option>
								<option value="50" {% if page_size==50 %} selected {% endif %}>50</option>
								<option value="100" {% if page_size==100 %} selected {% endif %}>100</option>
							</select>
									<div class="input-group-addon">条</div>
								</div>
							</div>
							<input type="hidden" name="cur_url" value="{{cur_url}}">
							<input type="submit" class="btn btn-primary" value="更改">
						</form></li>
					</ul>
						</nav>
					</td>
				</tr>
              </tbody>
            </table>
          </div>
          
          <script type="text/javascript" src="/static/jquery-1.11.3.js"></script>
          <script type="text/javascript">
          $('#showmsg').on('click',function(){
            $.get('/testmsg',function(res){
                $('#msg').html(res)
            })
          })
          </script>
          {% endblock %}
