<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<title>reboot homework 7</title>
	<link href="/static/bootstrap-3.3.5-dist/css/bootstrap.css" rel="stylesheet">
    <style>
        body {
          padding-top: 40px;
          padding-bottom: 40px;
          background-color: #eee;
        }
    </style>
</head>
<body class="body">
	<div class="container">
        <div class="row">
      <form class="form-horizontal" action="/loginaction" method="POST">
        <div class="input-group col-md-2 col-md-offset-5"><h2>请登录</h2></div>
        <div class="input-group col-md-2 col-md-offset-5">
        <div class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
        <input type="text" name="username" class="form-control" placeholder="请输入用户名" required autofocus>
        </div>
        <div class="input-group col-md-2 col-md-offset-5">
        <div class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span></div>
        <input type="password" name="password" class="form-control" placeholder="请输入密码" required>
        </div>
        <div class="input-group col-md-2 col-md-offset-5">
            <button class="btn btn-primary btn-block" type="submit">登录</button>
        </div>
        </div>
      </form>
      </div>
    </div>
</body>
</html>