<html>
<head>
    <title>reboot homework 7</title>
    <link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <table class="table table-striped">
        <form action="/edituseraction" method="POST">
            <tr>
                <td colspan="2">Welcome {{username}}</td>
            </tr>
            <tr align="center">
                <td>用户名：</td>
                <td>
                    {{user_info['name']}}
                    <input type="hidden" name="userid" value="{{user_info['id']}}"> 
                </td>
            </tr>
            <tr align="center">
                <td>密码：</td>
                <td><input type="password" name="password"></td>
            </tr>
            <tr align="center">
                <td colspan="2">
                    <input type="submit" value="修改">&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="reset" value="重置">&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="button" value="返回" onclick="location.href='/userlist'">
                </td>
            </tr>
        </form>
    </table>
</body>
</html>