<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/bootstrap.css">
    <style>
        #show{
            border:1px black solid;
            padding-top: 50px;
        }
        #t{
            height: 1px;
        }
        #bt{
            height: 20px;
        }
        #inpage{
            width: 40px;
        }
    </style>
</head>
<body>
    {% extends "index.html"%}
    {% block show %}
        <!--<div class="row">-->
            <!--<div class="col-md-2">&nbsp</div>-->
            <!--<div class="col-md-8">-->
                <!--<div> -->
                    <table class="table">
                        <tr>
                            <td  width="%3-">IP</td>
                            <td>状态</td>
                            <td>排名</td>
                        </tr>
                        <tr>
                            <td colspan="3"></td>
                        </tr>
                    {% for i in log%}
                        <tr>
                            <td>{{i[1]}}</td>
                            <td>{{i[2]}}</td>
                            <td>{{i[3]}}</td>
                        </tr>
                    {% endfor %}
                    </table>
                <!--</div>-->
                <!--<div> -->
                    <ul class="pager">
                    <form action="/show">
                        <li>
                            {% if page == 0 %}
                            <a href="#" class="btn btn-default" disabled="disabled">上一页</a>
                            {% else %}
                            <a href="/show?page={{page}}&last=1" class="btn btn-default">上一页</a>
                            {% endif %}
                        </li>
                            <label>{{page+1}}/{{total_page}}</label>
                        <li>
                            {% if page == total_page-1 %}
                            <a href="#" class="btn btn-default" disabled="disabled">下一页</a>
                            {% else %}
                            <a href="/show?page={{page}}&next=1" class="btn btn-default">下一页</a>
                            {% endif %}
                        </li>
                        
                        <li>
                            <input type="text" name="page_go" id="inpage">
                        </li>
                        <li>
                            <input type="submit" value="跳转" class="btn btn-default">
                        </li>
                        
                        <!--<li>-->
                            <!--<a href="/index" class="btn">返回主页</a>-->
                        <!--</li>-->
                    </form>
                    </ul>
                <!--</div>-->
            <!--</div>-->
            <!--<div class="col-md-2">&nbsp</div>-->
        <!--</div>-->
    {% endblock %}
</body>
</html>