<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap.css">
    <style type="text/css">
    #s{
        width:100px;
    }
    </style>
</head>
<body>
    {% extends "index.html"%}
    {% block user%}
    <div class="col-xs-1">&nbsp</div>
    <div class="table-responsive col-xs-10">
        <!-- <h4>添加用户</h4>
        <form action="/add_user" method="post">
        <table class="table table-hover">
            <tr>
                <td>用户名</td>
                <td>密&nbsp;码</td>
                <td colspan="3">操作</td>
            </tr>
            <tr>
                <td><input type="text" name="username" value=""></td>
                <td><input type="text" name="pwd" value=""></td>
                <td><input type="submit" value="添加用户"></td>
            </tr>
        </table>
        </form> -->
        <!-- <a href="/index">返回首页</a> -->

        <label>用户列表</label>
        <table class="table table-hover">
            <tr>
                <td>ID</td>
                <td>用户名</td>
                <td>密&nbsp;码</td>
                <td colspan="2">操作</td>
            </tr>
        {% for i in users%}
            <tr>
                {% for j in i %}
                <td>{{j}}</td>
                {% endfor %}
                <td>
                    <form action="/update_user" method="post">
                        <input type="hidden" name="u_id" value="{{i[0]}}">
                        <input type="text" name="pwd" placeholder="新密码" id="s">
                        <input type="submit" value="修改" class="btn btn-primary">
                    </form>
                </td>
                <td>
                    {% if i[0] != 1 %}
                    <form action="/del_user" method="post">
                        <input type="hidden" name="u_id" value="{{i[0]}}">
                        <input type="submit" value="删除" class="btn btn-danger">
                    </form>
                    {% endif %}
                </td>

            </tr>
        {% endfor %}
            <tr>
                <form action="/add_user" method="post">
                    <td>#</td>
                    <td><input type="text" name="username" value=""></td>
                    <td><input type="text" name="pwd" value=""></td>
                    <td colspan="2">
                        <input type="submit" value="添加用户" class="btn btn-success">
                    </td>
                </form>
            </tr>
        </table>
    </div>
    <div class="col-xs-1">&nbsp</div>
    {% endblock %}
</body>
</html>