
{% if username=='admin' %}
<p>
hello {{username}}
</p>
{% endif %}
<!--
<form action='adduser' method='post'>

<input type='text' name='user'>
<input type='text' name='password'>
<input type='submit' value='adduser'>

</form>













<p>
hello
</p>


<button>
hehe
</button>
<form action='https://www.baidu.com/s'>
<input name='wd' type='text'>
<input type='submit' value='baidu'>
</form>


<form action='/data'>
name:<input type='text' name="name" >
age:<input type='text' name="age" >
<input type='submit' value='submit-form'>



</form>

-->
