<a href='/logout'>
logout
</a>
<form action='adduser' method='post'>
<input type='text' name='user'>
<input type='password' name='password'>
<input type='submit' value='adduser'> 
</form>

<table border='1'>
{% for user in userlist %}
<tr>
	<td>{{user[0]}}</td>
	<td>{{user[1]}}</td>
	<td>
		<a href='/Deuser?user={{user[0]}}'>delete</a>
	</td>
</tr>
{% endfor %}
</table>




<!--
<form action='adduser' method='post'>

<input type='text' name='user'>
<input type='text' name='password'>
<input type='submit' value='adduser'>
</form>

<form action='adduser' method='post'>

user:<input type='text' name='user'>
passwd:<input type='password' name='password'>
<input type='submit' value='adduser'> <a href='/logout'>logout</a>

</form>
<form action='Duser' method='post'>
user:<input type='text' name='user'>
<input type='submit' value='delete'>
</form>


<table border='1'>
{% for user in userlist %}
<tr>
	<td>{{user[0]}}</td>
	<td>{{user[1]}}</td>
</tr>
{% endfor %}
</table>
