{%extends  "layout.html" %}

{%block div%}
         {% if user=='admin'%}
            <li class="active">
            <a href ='usershow'>用户管理 </a>
            </li>
            {%endif%}
{%endblock%}


{%block href %}
 {%if user=="admin"%}
 <a href="usershow">用户管理</a>
 {%endif%}
 {%endblock%}


{%block h2%}
{% if  user=="admin"%}
管理员
{%else %}
{{user}}
{%endif%}
{%endblock%}


{% block  content %}
<h3 class="sub-header" >Log---View</h3>
      <table  class="table table-striped ">
        <tr  class='info'>   
             <th>序号</th>
             <th> IP</th>            
             <th>状态</th>      
            <th>点击量</th>     
        </tr>
         {%  for  log in logs %}
           <tr class='success'>
                   <td  >{{loop.index}}</td>       
                   <td  >{{log[1]}}</td>         
                   <td  >{{log[2]}}</td>         
                   <td  >{{log[3]}}</td>          
           </tr>
           {%endfor%}
</table> 

<nav>
       <ul  class="pager">
          {% if page>0 %}
        <li>   <a href='/log?page={{page-1}}'>Previous</a>   </li>
          {%else %}
                     Previous
          {%endif%}
                 {{page+1}}/11
                   <li>   <a href='log?page={{page+1}}'>Next</a> </li>
           </ul>
</nav>


{%endblock%}




