{%extends "layout.html"%}

{%block title%}
用户-View
{%endblock%}


{% block  body%}


<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#adduserModal">
添加用户
</button>




<table  class="table table-bordered"  > 
       <thead>
       	   <tr  class="warning">
                 <th>Id</th>
                  <th>User</th>
                  <th>Pwd</th>
                  <th>Delete</th> 
                  <th>Update</th>   
                </tr>
       </thead>

<tbody  id='table-content'>

</tbody>
</table>


<div class="modal fade" id="adduserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">添加用户</h4>
      </div>
      <div class="modal-body">
                 
            <form action='/adduser' id='addform' method='post'>
                    user:<input type='text' name='user'>
                    password:<input type='text' name='pwd'>
                  <!-- <input type='submit' id='addsubmit' value='adduser'> -->
             </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" >添加</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="updateuserModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">更新用户</h4>
      </div>
      <div class="modal-body">
                 
           <form action='/updateuser' id="updateform"  method="post">
                <input type='hidden' name='id' >
                <input type='text' name='pwd'>

            </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary" >修改</button>
      </div>
    </div>
  </div>
</div>



{% endblock%}


{%block js %}

<script >

$("#updateuserModal").find('.btn-primary').on('click',function(){
	var userid= $('#updateuserModal').attr('data-userid')
	var pwd=$("#updateform").find('[name="pwd"]').val()
	$.post('/updateuser',{id:userid,pwd:pwd},function(res){
	// $.get('/updateuser?id='+userid+'&pwd='+pwd,function(res){
		if (res=='ok'){
			$('#updateuserModal').modal('hide')
			swal('success','update success','success')
			getlist()
		}else{
			swal('error','error happened','error')
		}
	})
})

$(document).on('click','.update-btn',function(){
	var pwd=$(this).attr('pwd')
             var userid=$(this).data("id")
             $("#updateuserModal").attr('data-userid',userid).modal('show')
             $('#updateform').find('[name="pwd"]').val(pwd)

})

$('#adduserModal').find('.btn-primary').on('click', function (event) {
	// var url='/adduser'+$('#addform').serialize()
  	$.post('/adduser' ,$('#addform').serialize(), function(res){
  		if (res=='ok'){
  			$('#adduserModal').modal('hide')
  			swal('success','add  success','success')
  			$('#addform')[0].reset()
  			getlist()
  		}else{
  			//alert('error happened')
  			swal('error','error happened','error')
  		}
  	})
  
  	return false
})



function getlist(){
var res=' '
	$.getJSON('/gettable',function(res){
	$.each(res,function(index,value){
		//console.log(value)
		res+='<tr><td>'+value[0]+'</td>'
		res+='<td>'+value[1]+'</td>'
		res+='<td>'+value[2]+'</td>'
                            res+='<td><button data-id="'+value[0]+'" class="btn btn-danger btn-xs delete-btn">delete</button></td>'
                            res+='<td><button  data-pwd="'+value[2]+'"data-id="'+value[0]+'" class="btn btn-danger btn-xs update-btn">Update</button></td></tr>'
                   
	})
	$('#table-content').html(res)
})
}

$(document).on('click','.delete-btn',function(){
   var id = $(this).attr('data-id')

swal({
      title: "Are you sure to delete user?",
      text: "axxx delete",
      type: "warning",
      showCancelButton: true,
      confirmButtonText: "confirm",
      closeOnConfirm: false,
      html: false
}, function(){

        $.post('/deluser',{id:id},function(res){
            if(res=='ok'){
                swal('success','delete success','success')
                getlist()
            }
        })
    })    
})




 getlist()





</script>




{%endblock%}