<link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

<H5>用户列表</H5> 
<a href='/logout'>
loginout
</a>


<table class='table table-bordered table-striped'>
    <tr colspan="2" style='background-color:#99bbbb;'>
        <td>用户名</td>
        <td>密码</td>
        <td>选项</td>
    </tr>
    {% for i in userlist %}
    <form action='userdel' method="post">
    <tr>
             <td>{{i[0]}}<input type='hidden' name='name' value='{{i[0]}}'></td>
             <td>{{i[1]}}<input type='hidden' name='password' value={{i[1]}}></td>
             <td><input type="submit" value="del"></td>
    </tr>

    </form>
    {% endfor %}
    <form action='useradd' method="post">
        <td><input type="txte" name="name"> </td>
        <td><input type="txte" name="password"> </td>
        <td><input type="submit" value="add"> </td>
    </form>
</table>
