{% extends 'base.html' %}

        {% block content_top %}
        {% if is_admin %}
          <div class="row placeholders">
            <div class="col-xs-6 col-sm-3 col-sm-offset-4 placeholder">
              <form class="form-horizontal" action="/edituseraction" method="post">
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></div>
                        <input type="text" class="form-control" name="name" value="{{user_info['name']}}" disabled>
                        <input type="hidden" name="userid" value="{{user_info['id']}}">
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon"><span class="glyphicon glyphicon-lock" aria-hidden="true"></div>
                        <input type="password" class="form-control" name="password" placeholder="请输入新密码">
                    </div>
                </div>
                    <button type="submit" class="btn btn-primary">修改</button>
                    <button type="reset" class="btn btn-primary">重置</button>
                    <a class="btn btn-primary" href='/userlist'>返回</a>
                </form>
            </div>
          </div>
            {% endif %}
          {% endblock %}
