{% if username=='admin' %}
<p>
hello {{username}}
</p>
{% endif %}


<!--
<form action="">
    name:
    <input type='text' name='user' value='xx1'>
    <input type='password' name='passwd'>

    <input type="hidden" name='key' value='2'>
    <input type='submit' value='submit!!!'>
</form>

{% if username=='reboot' %}

<p>
hello {{username}}
</p>
{% endif %}


<form action='adduser'>
<input type='text' name='user'>
<input type='text' name='password'>
<input type='submit' value='adduser'>
</form>


<form action='adduser' method='post'>
<input type='text' name='user'>
<input type='text' name='password'>
<input type='submit' value='adduser'>
</form>



<p>
hello
</p>

<button>
hehe
</button>
<form action='https://www.baidu.com/s'>
<input name'zkx' type='text'>
<input type='submit' value='baidu'>
</form>

<form action='/data'>
name:<input type='text' name='name'>
age:<input type='text' name='age'>
<input type='submit' value='submit-form'>

</form>
-->
